// Custom layout
@import "partials/variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "partials/layout";
@import "partials/header";

.redBox {
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 25px;
}